<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="CreditosDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\sergi\source\repos\WebServices\DB_Creditos.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  
  
  <system.serviceModel>
    <!--Added-->
    <bindings>
      <basicHttpBinding>
        <binding name="EnlaceHTTP" 
                 closeTimeout="00:10:00" 
                 maxReceivedMessageSize="65536" 
                 maxBufferSize="65536" 
                 messageEncoding="Text"
                 textEncoding="utf-8">
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="EnlaceHTTPRest"
                 closeTimeout="00:10:00"
                 crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>
    
    <services>
      <service name="Com.Creditos.Service.ClienteService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="EnlaceHTTP" 
                  contract="Com.Creditos.Service.Contract.IClienteService">
        </endpoint>
        <endpoint address="rest"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Com.Creditos.Service.Contract.IClienteService"
                  behaviorConfiguration="webREST">
        </endpoint>
      </service>

      <service name="Com.Creditos.Service.CreditoService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="EnlaceHTTP"
                  contract="Com.Creditos.Service.Contract.ICreditoService">
        </endpoint>
        <endpoint address="rest"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Com.Creditos.Service.Contract.ICreditoService"
                  behaviorConfiguration="webREST">
        </endpoint>
      </service>
    </services>
    
    <behaviors>
      <!--Added-->
      <endpointBehaviors>
        <behavior name="webREST">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      
      
      <serviceBehaviors>
        <!--Add name=ServiceBehavior-->
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
